body {
    background-image: url("SuperMetroidCrateriaRain.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainboard {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    width: 50%;
    height: 490px;
    justify-content: space-evenly;
    margin: 50px auto 50px auto;
    padding: 10px;
}

@media only screen and (min-width: 1920px) {
    .mainboard {
        width: 675px;
        height: 575px;
        margin-top: 100px;
    }
}


.circle {
    border-radius: 50%;
    height: 15%;
    width: 100%;
    background-color: lightgrey;
}

.circlecontainers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 11%;
}

#leftsupport {
    background: blue;
    position: absolute;
    left: 31%;
    height: 240px;
    width: 20px;
    margin-top: 410px;
}

#rightsupport {
    background: blue;
    position: absolute;
    left: 68%;
    height: 240px;
    width: 20px;
    bottom: 113px;
}

button {
    height: 30px;
    width: 11%;
    flex-basis: 1;
}

.buttoncontainer {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
}

#wincontainer {
    background: black;
}

#winmessage {
    color: white;
    position: relative;
    top: 50%;
    left: 43%;
}

#winbutton {
    position: relative;
    height: 30px;
    width: 25%;
    font-size: 15pt;
    font-weight: bold;
    top: 57%;
    left: 35%;
    cursor: pointer;
    background: yellow;
    border: solid;
    border-width: 3px;
    border-color: blue;
    opacity: .7;
    padding: 0 5px 4px 5px;
    align-items: center;
}

#winbutton:hover {
    opacity: 1.5;
}

.connect4 {
    color: orange;
    font-size: 20pt;
    letter-spacing: 4px;
    margin: 0;
}