body {
    background: lightgrey;
}

.mainboard {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    width: 75%;
    height: 500px;
    justify-content: space-evenly;
    margin: 10px auto;
    padding: 10px;
}

.circle {
    border-radius: 50%;
    height: 15%;
    width: 100%;
    background-color: white;
}

.circlecontainers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 11%;
}

#leftsupport { 
    background: blue;
    position: absolute;
    left: 11%;
    top: 50%;
    height: 25%;
    width: 20px;
}

#rightsupport { 
    background: blue;
    position: absolute;
    left: 87%;
    top: 50%;
    height: 25%;
    width: 20px;
}

button {
    height: 30px;
    width: 11%;
    flex-basis: 1;
}

.buttoncontainer {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
    justify-content: space-evenly;
}

#wincontainer {
    background: black;
}

#winmessage {
    color: white;
    position: relative;
    top: 50%;
    left: 40%;
}

#winbutton {
    position: relative;
    height: 30px;
    width: 25%;
    font-size: 15pt;
    font-weight: bold;
    top: 57%;
    left: 35%;
    cursor: pointer;
    background: cadetblue;
    opacity: .7;
}

#winbutton:hover {
    opacity: 1.5;
}