@font-face {
    font-family: MetroidPixel;
    src: url(super-metroid-menu.otf);
}

@font-face {
    font-family: MetroidTitle;
    src: url(super-metroid-title.otf);
}

body {
    background-image: url("SuperMetroidCrateriaRain.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#startButton {
    height: 5vh;
    width: 10vw;
    background-color: black;
    font-family: MetroidPixel;
    color: #00FF09;
    border: solid;
    border-width: 1px;
    border-color: #00FF09;
    text-shadow: 0px 0px 4px #145416;
    margin-top: 40px;
}

.mainboard {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    width: 40%;
    height: 490px;
    justify-content: space-evenly;
    margin: 20px auto 40px auto;
    padding: 10px;
    opacity: 0;
    transition: opacity 7s;
}

@media only screen and (min-width: 1920px) {
    .mainboard {
        width: 675px;
        height: 575px;
        margin-top: 100px;
    }
}


.circle {
    border-radius: 50%;
    height: 15%;
    width: 100%;
    background-color: lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.circlecontainers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 11%;
}

#leftsupport {
    background: blue;
    position: absolute;
    left: 31%;
    height: 240px;
    width: 20px;
    margin-top: 410px;
}

#rightsupport {
    background: blue;
    position: absolute;
    left: 68%;
    height: 240px;
    width: 20px;
    bottom: 113px;
}

/* button {
    height: 30px;
    width: 11%;
    flex-basis: 1;
} */

.buttoncontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    padding: 20px 0px 20px 0px;
    align-items: center;
}

#wincontainer {
    background: black;
}

#winmessage {
    color: white;
    position: relative;
    top: 50%;
    left: 43%;
}

#winbutton {
    position: relative;
    height: 30px;
    width: 25%;
    font-size: 15pt;
    font-weight: bold;
    top: 57%;
    left: 35%;
    cursor: pointer;
    background: yellow;
    border: solid;
    border-width: 3px;
    border-color: blue;
    opacity: .7;
    padding: 0 5px 4px 5px;
    align-items: center;
}

#winbutton:hover {
    opacity: 1.5;
}

.connect4 {
    color: #FFD548;
    font-size: 46pt;
    font-family: MetroidTitle;
    text-shadow: 4px 8px 6px #702D3D;
    letter-spacing: 4px;
    margin: 0px;
    text-align: center;
}

.connect4pt2 {
    color: #FFA93A;
    font-size: 60pt;
    font-family: MetroidTitle;
    text-shadow: 4px 8px 6px #702D3D;
    letter-spacing: 4px;
}

.button-right {
    position: absolute;
    font-family: MetroidPixel;
    border: solid;
    border-color: #00FF09;
    border-width: 1px;
    background-color: transparent;
    color: #00FF09;
    height: 70px;
    width: 30px;
    right: 50px;
    font-size: 20pt;
    top: 50vh;
}

.button-left {
    position: absolute;
    font-family: MetroidPixel;
    border: solid;
    border-color: #00FF09;
    border-width: 1px;
    background-color: transparent;
    color: #00FF09;
    height: 70px;
    width: 30px;
    left: 50px;
    font-size: 20pt;
    top: 50vh;
    display: none;
}